*{
    padding: 0;
    margin: 0;
}
.toast show{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.card{

    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "jost",sans-serif;
    background: linear-gradient(-45deg, #67cf77, #6aa5c9);
}
.card p{
    margin: 0 20px;
    width: 100%;
}
.container1{

    background: inherit;
    width: 350px;
    height: 550px;
    overflow: hidden;
    border-radius: 11px;
    box-shadow: -16px 0 44px 13px rgba(0,0,0, 0.1);
}label{
    color: #fff;
    font-size: 1em;
    display: flex;
    margin: 20px ;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;

}
input{
    width: 100%;
    height: 35px;
    background-color:#ded5d5 ;
    display: flex;
    justify-content: center;
    margin-left:  20px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
}
button{
    border: none;
    outline: none;
    width: 100%;
    height: 50px;
    margin: 10px 20px ;
    color: #fff;
    background-color: rgb(216, 46, 142);
    font-size: 1em;
    font-weight: bold;
    display: block;
    transition: 0.2 ease-in;
    cursor: pointer;

}
button:hover{
    background-color: #10e7a7;
}
.car{
justify-content: center;
align-items: center;
font-family: "jost",sans-serif;
background: linear-gradient(-45deg, #67cf77, #6aa5c9);
}
section .px-3{
    text-align: center;
    margin-left: 20px;
    background: linear-gradient(-45deg, #67cf77, #6aa5c9) ;

}
